<!doctype html>
<html lang="en">
    <%- include(template.render_partials+'head_html', { title: meta_data.title, description: meta_data.description, url: meta_data.url }); %>
    <body class="m-h-screen antialised w-full flex items-center justify-center">
        <main class="flex items-center justify-center w-full h-full m-auto">
            <div class="hidden"></div>
            <div>
                <div>
                    <a>"<"</a>
                </div>
                <div>
                    <div>
                        <h1>Create an Account</h1>
                        <p>Already have an account? Log In</p>
                    </div>
                    <form>
                        <div>
                            <label for="email"></label>
                            <input type="text" />
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
