<!doctype html>
<html lang="en">
    <%- include('../../layout/head_html'); -%>
    <body class="antialised">
        <main>
            <h3>Streamline Your Sari-Sari Store Operations with Ease</h3>
            <p>
                Say goodbye to paper records. Simplify your daily operations and manage customer
                credits effortlessly. Lista is designed to help you run your store more efficiently
                and provide better service to your customers.
            </p>

            <button>Sign Up</button>
            <button>Log In</button>
        </main>
    </body>
</html>
