<div class="w-full grid grid-cols-1 gap-7 sm:grid-cols-2 md:grid-cols-4 md:gap-10">
    <div class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm">
        <p class="mb-2">Credit Revenue</p>
        <h3 class="font-bold text-2xl"><%= revenue.creditRevenue %></h3>
        <p class="font-medium text-sm">+20.1% from last month</p>
    </div>
    <div class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm">
        <p class="mb-2">Cash Revenue</p>
        <h3 class="font-bold text-2xl"><%= revenue.cashRevenue %></h3>
        <p class="font-medium text-sm">+20.1% from last month</p>
    </div>
    <div class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm">
        <p class="mb-2">Total Revenue</p>
        <h3 class="font-bold text-2xl"><%= revenue.totalRevenue %></h3>
        <p class="font-medium text-sm">+20.1% from last month</p>
    </div>
    <div class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm">
        <p class="mb-2">Customer</p>
        <h3 class="font-bold text-2xl"><%= count %></h3>
        <p class="font-medium text-sm">+20.1% from last month</p>
    </div>
</div>
