<div class="inline-flex gap-2 bg-gray-100 p-1 rounded-md my-7 md:my-10">
    <div>
        <button
            type="button"
            role="tab"
            class="text-base font-normal dark:font-medium leading-none p-2 rounded-md bg-white shadow-sm"
        >
            <span>Today</span>
        </button>
        <button
            role="tab"
            class="text-base font-normal dark:font-medium leading-none p-2 rounded-md text-gray-400"
        >
            <span>Week</span>
        </button>
        <button
            role="tab"
            class="text-base font-normal dark:font-medium leading-none p-2 rounded-md text-gray-400"
        >
            <span>Month</span>
        </button>
    </div>
</div>
