<div class="bg-white w-full h-[448px] max-w-[515px] rounded-xl border border-b-['#E0E0E0'] mb-5 shadow-sm p-5">
  <h3>Top Customers</h3>
  <div class="mt-8">
    <ul class="list-disc">
        <li class="w-full flex items-center justify-between mb-5">
            <div class="flex items-center gap-5">
                <div class="hidden h-9 w-9 rounded-full bg-gray-200 md:flex md:items-center md:justify-center">JL</div>
                <div class="leading-tight">
                    <span class="block font-medium">Jovan Lanutan</span>
                    <span class="block text-gray-500">jolanutan@gmail.com</span>
                </div>
            </div>
            <a href="#" class="py-1 px-4">View</a>
        </li>
    </ul>
  </div>
</div>