extends ../base

block content 
	main(class="px-10 w-[1440px] mx-auto") 
		include ../overview/segmented_control
		//- Cards
		include ../overview/cards

		div(class="mt-10 flex gap-10 justify-between")
			//- Chart
			div(class="h-[448px] w-[790px] rounded-xl border border-b-['#E0E0E0'] shadow-sm")
			//- Top customer's
			include ../overview/top_customer_card

		
			
							
							

								  
							 
						
				
					  
				

					