doctype html 
html(lang="en") 
	head 
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Description of the page less than 150 characters")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Lista")
		meta(property="og:description" content="Description Here")
		link(rel="icon" type="image/png" href="https://example.com/favicon.png")
		link(rel="stylesheet" type="text/css" href="css/output.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:700|Inter:400")
		title Lista 

	body(class="min-h-screen")
		header(class="px-10 py-5")
			nav(class="w-full flex justify-between items-center")
				a(href="#" class="text-xl font-bold") Lista 
				ul(class="flex items-center gap-2")
					li
						a(href="#about") About 
					li 
						a(href="#note") Note
		
		main(class="px-10 mt-2")
			div 
				h1(class="text-5xl font-bold leading-none") Streamline Your Sari-Sari Store Operations with Ease
				p(class="mt-10") Say goodbye to paper records. Simplify your daily operations and manage customer credits effortlessly. Lista is designed to help you run your store more efficiently and provide better service to your customers.
				div 
					button(type="button") Sign Up 
					button(type="button") Login