<dialog
    id="add-credit-modal"
    aria-labelledby="add-credit-title"
    aria-describedby="add-credit-desc"
    class="fixed top-0 right-0 left-0 m-0 w-full md:inset-0 h-full max-h-full max-w-screen bg-black/40"
>
    <div class="relative w-max-content h-max-content animate-modal">
        <div class="relative flex flex-col p-6 bg-white rounded-xl shadow-xs">
            <div class="flex items-center justify-between pb-5 border-b border-['#E0Es0E0']">
                <div>
                    <h3 id="add-credit-title" class="font-bold text-xl md:text-3xl">
                        Create Credit
                    </h3>
                    <p
                        id="add-credit-desc"
                        class="tracking-tight leading-normal text-sm md:text-md"
                    >
                        Easily add a new credit entry!
                    </p>
                </div>
                <button
                    id="btn-add-credit-modal-close"
                    aria-label="close"
                    class="ac-modal-btn-close"
                    value="close"
                >
                    <span class="font-light text-md">Close</span>
                    <span class="ac-key-esc text-sm hidden md:inline-block">ESC</span>
                </button>
            </div>
            <form
                id="add-credit-form"
                method="dialog"
                class="w-full py-5 grid grid-cols-1 md:grid-cols-2 md:gap-x-6 md:gap-y-3"
            >
                <div data-container class="py-2 relative col-span-2 md:col-span-1">
                    <label for="creditors" class="block mb-1 text-sm">Name of creditors</label>
                    <input
                        id="creditors"
                        type="text"
                        name="creditors"
                        placeholder="Enter creditor's name"
                        class="transition-outline ease-in duration-300 ac-modal-input"
                        aria-describedby="creditors-error-message"
                    />
                    <span
                        id="creditors-error-message"
                        aria-live="polite"
                        class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                    ></span>
                </div>
                <div data-container class="py-2 relative col-span-2 md:col-span-1">
                    <label for="products" class="block mb-1 text-sm">Name of products</label>
                    <input
                        id="products"
                        type="text"
                        name="products"
                        placeholder="Enter product name"
                        class="transition-outline ease-in duration-300 ac-modal-input"
                        aria-describedby="products-error-message"
                    />
                    <span
                        id="products-error-message"
                        aria-live="polite"
                        class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                    ></span>
                </div>
                <div data-container class="py-2 relative col-span-2 md:col-span-1">
                    <label for="email" class="block mb-1 text-sm">Email</label>
                    <input
                        id="email"
                        type="email"
                        placeholder="Enter email address"
                        name="email"
                        class="transition-outline ease-in duration-300 ac-modal-input"
                        aria-describedby="email-error-message"
                    />
                    <span
                        id="email-error-message"
                        aria-live="polite"
                        class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                    ></span>
                </div>
                <div data-container class="py-2 relative col-span-2 md:col-span-1">
                    <label for="category" class="block mb-1 text-sm">Category</label>
                    <select
                        name="category"
                        id="category"
                        name="category"
                        class="transition-outline ease-in duration-300 ring-focus border border-['#E0Es0E0'] w-full px-2 py-1.5 rounded-md"
                        aria-describedby="category-error-message"
                    >
                        <option value="credit">Credit</option>
                        <option value="cash">Cash</option>
                    </select>
                    <span
                        id="category-error-message"
                        aria-live="polite"
                        class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                    ></span>
                </div>

                <div class="flex gap-4 py-2">
                    <div data-container class="py-2 relative w-[50%] md:w-auto">
                        <label for="quantity" class="block mb-1 text-sm">Quantity</label>
                        <input
                            id="quantity"
                            type="text"
                            name="quantity"
                            placeholder="Enter quantity"
                            class="transition-outline ease-in duration-300 ac-modal-input"
                        />
                        <span
                            id="quantity-error-message"
                            aria-live="polite"
                            class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                        ></span>
                    </div>
                    <div data-container class="py-2 relative w-[50%] md:w-auto">
                        <label for="date" class="block mb-1 text-sm">Date</label>
                        <input
                            id="date"
                            type="date"
                            placeholder="date"
                            name="date"
                            class="transition-outline ease-in duration-300 ac-modal-input"
                        />
                        <span
                            id="date-error-message"
                            aria-live="polite"
                            class="hidden absolute left-0 bottom-[-13px] text-xs text-red-500 font-bold tracking-normal"
                        ></span>
                    </div>
                </div>
                <div class="flex flex-col col-span-2 mt-10 md:mt-20 md:place-self-end md:flex-row">
                    <button
                        type="button"
                        id="btn-add-credit-modal-cancel"
                        aria-label="cancel"
                        value="cancel"
                        class="font-medium text-white py-2 px-16 rounded-md border border-['#E0Es0E0'] bg-red-900 hover:bg-red-800 focus:ring focus:ring-offset-2 focus:ring-2 focus:ring-red-900 focus:outline-none mb-2 md:mr-4 md:mb-0"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        aria-label="add"
                        value="add"
                        class="ring-focus bg-stone-900 hover:bg-stone-800 text-white py-2 px-16 rounded-md"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</dialog>
