<div class="grid grid-cols-2 gap-4 my-4">
    <div class="border border-['#E0E0E0'] px-10 py-5 rounded-md">
        <h2 class="mb-2">Personal Info</h2>
        <div class="grid grid-cols-2 gap-3">
            <div>
                <strong>Age</strong>
                <p>23</p>
            </div>
            <div>
                <strong>Living City</strong>
                <p>Cebu City, Phillipines</p>
            </div>
            <div>
                <strong>Working Field</strong>
                <p>None</p>
            </div>
            <div>
                <strong>Relation</strong>
                <p>Neighbors</p>
            </div>
        </div>
    </div>

    <div class="border border-['#E0E0E0'] px-10 py-5 rounded-md">
        <h2 class="mb-2">Metadata</h2>
        <div class="grid grid-cols-2 gap-3">
            <div>
                <strong>Registration Date</strong>
                <p>June 29, 2024</p>
            </div>
            <div>
                <strong>Latest Transaction</strong>
                <p>Cash</p>
            </div>
        </div>
    </div>
    <div class="border border-['#E0E0E0'] px-10 py-5 rounded-md">
        <h2 class="mb-2">Contact</h2>
        <div class="grid grid-cols-2 gap-3">
            <div>
                <strong>Phone number</strong>
                <p>23123131313131</p>
            </div>
            <div>
                <strong>Email address</strong>
                <p>Cebu City, Phillipines</p>
            </div>
        </div>
    </div>
    <div class="border border-['#E0E0E0'] px-10 py-5 rounded-md">
        <h2 class="mb-2">Payments method</h2>
        <div class="grid grid-cols-2 gap-3">
            <div>
                <strong>Age</strong>
                <p>23</p>
            </div>
            <div>
                <strong>Living City</strong>
                <p>Cebu City, Phillipines</p>
            </div>
            <div>
                <strong>Working Field</strong>
                <p>None</p>
            </div>
            <div>
                <strong>Relation</strong>
                <p>Neighbors</p>
            </div>
        </div>
    </div>
</div>
