<div class="grid gap-4 my-4 grid-cols-1 md:grid-cols-2">
    <div class="border border-['#E0E0E0'] rounded-md p-4 md:px-10 md:py-5">
        <h2 class="font-medium text-gray-500 tracking-wide mb-2">Personal Info</h2>
        <div class="grid grid-cols-2 gap-3">
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base">Age</strong>
                <p class="text-gray-600">23</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Living City</strong
                >
                <p class="text-gray-600">Cebu City, Phillipines</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Working Field</strong
                >
                <p class="text-gray-600">None</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Relation</strong
                >
                <p class="text-gray-600">Neighbors</p>
            </div>
        </div>
    </div>

    <div class="border border-['#E0E0E0'] rounded-md p-4 md:px-10 md:py-5">
        <h2 class="font-medium text-gray-500 tracking-wide mb-2">Metadata</h2>
        <div class="grid grid-cols-2 gap-3">
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Registration Date</strong
                >
                <p class="text-gray-600">June 29, 2024</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Latest Transaction</strong
                >
                <p class="text-gray-600">Cash</p>
            </div>
        </div>
    </div>
    <div class="border border-['#E0E0E0'] rounded-md p-4 md:px-10 md:py-5">
        <h2 class="font-medium text-gray-500 tracking-wide mb-2">Contact</h2>
        <div class="grid grid-cols-2 gap-3">
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Phone number</strong
                >
                <p class="text-gray-600">23123131313131</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Email address</strong
                >
                <p class="text-gray-600">Cebu City, Phillipines</p>
            </div>
        </div>
    </div>
    <div class="border border-['#E0E0E0'] rounded-md p-4 md:px-10 md:py-5">
        <h2 class="font-medium text-gray-500 tracking-wide mb-2">Payments method</h2>
        <div class="grid grid-cols-2 gap-3">
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base">Age</strong>
                <p class="text-gray-600">23</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Living City</strong
                >
                <p class="text-gray-600">Cebu City, Phillipines</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Working Field</strong
                >
                <p class="text-gray-600">None</p>
            </div>
            <div class="text-sm leading-tight sm:text-base md:leading-snug">
                <strong class="text-sm text-stone-800 tracking-normal sm:text-base"
                    >Relation</strong
                >
                <p class="text-gray-600">Neighbors</p>
            </div>
        </div>
    </div>
</div>
