<div class="w-full text-sm relative md:w-auto">
    <label for="search" class="sr-only"><%= search_label %></label>
    <input
        id="search"
        type="text"
        name="search"
        class="search-input sm:w-[300px] md:w-[200px] lg:w-[300px]"
        placeholder="<%= search_placholder %>"
    />

    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-search absolute top-0 bottom-0 left-2.5 my-auto h-4 w-4 text-gray-500"
    >
        <circle cx="11" cy="11" r="8" />
        <path d="m21 21-4.3-4.3" />
    </svg>
</div>
