- const layoutToExtend = modalLayout 
if layoutToExtend === 'overview_view'
	include pages/overview_view 
else if layoutToExtend === 'customer_view'
	include pages/customer_view
else if layoutToExtend === 'transaction_view'
	include pages/transaction_view