<header class="flex items-center justify-center h-[64px] border-b border-['#E0Es0E0']">
    <nav class="flex items-center justify-between w-[1440px] px-10">
        <div class="flex">
            <a href="#" class="mr-10 font-bold text-2xl tracking-tight"> Lista </a>
            <ul class="flex items-center gap-5 text-base">
                <li>
                    <a
                        href="/dashboard"
                        class="<%= routeName === 'overview' ? 'nav-list_active' : 'nav-list' %>"
                        >Overview</a
                    >
                </li>
                <li>
                    <a
                        href="/dashboard/customers"
                        class="<%= routeName === 'customers' ? 'nav-list_active' : 'nav-list' %>"
                        >Customers</a
                    >
                </li>
                <li>
                    <a
                        href="/dashboard/transactions"
                        class="<%= routeName === 'transactions' ? 'nav-list_active' : 'nav-list' %>"
                        >Transactions</a
                    >
                </li>
            </ul>
        </div>
        <div class="flex items-center justify-center gap-2">
            <div class="mr-10">
                <a
                    href="<%= url %>/add-credit?show=true"
                    class="btn-add-credit block py-1.5 px-3 rounded-md bg-neutral-950 text-neutral-100 font-medium hover:bg-neutral-800 cursor-pointer"
                    >Add credit</a
                >
            </div>
            <button type="button" class="inline-block h-9 w-9 rounded-full bg-gray-400"></button>
        </div>
    </nav>
</header>
