@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
    background-color: #f9fafb;
}

dialog {
    max-width: 100vw;
}

.ac-input-error {
    @apply outline outline-offset-2 outline-2 outline-red-500;
}

.btn-logout {
    background-image: url('../assets/icon/logout.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 25%;
}

.btn-nav-bar,
.btn-arrow-close {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.btn-arrow-close {
    background-image: url('../assets/icon/less-than.svg');
}

.btn-nav-bar {
    background-image: url('../assets/icon/menu.svg');
}

.lucide-menu {
    width: 24px;
    height: 24px;
}

.lucide-chevron-left,
.lucide-panels-top-left,
.lucide-arrow-left-right,
.lucide-users {
    color: #6b7280;
}

.lucide-chevron-left {
    width: 20px;
    height: 20px;
}

.lucide-panels-top-left,
.lucide-users,
.lucide-arrow-left-right {
    width: 18px;
    height: 18px;
}

/* toast */

#toast {
    visibility: hidden;
}

#toast.show {
    visibility: visible;
    -webkit-animation:
        fadein 0.5s,
        fadeout 0.5s 5s;
    animation:
        fadein 0.5s,
        fadeout 0.5s 5s;
}

@keyframes blow-up {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@layer utilities {
    .auth-ring-input:focus-visible {
        @apply ring-2 ring-offset-0 ring-stone-900;
    }

    .add-credit-modal-overlay {
        @apply bg-stone-950/[0.8] overflow-y-auto overflow-x-hidden fixed top-0 left-0 w-full h-full md:inset-0 z-10;
    }

    .ac-modal-btn-close {
        @apply self-start rounded-md text-stone-700 transition-all ease-in-out duration-300 p-1 md:p-1.5;
    }

    .ac-key-esc {
        @apply p-1.5 bg-gray-100 rounded-md font-light tracking-wide shadow-key;
    }

    .ac-modal-input {
        @apply ring-focus w-full px-2 py-1.5 border border-b-['#E0Es0E0'] rounded-md;
    }

    .ring-focus {
        @apply focus:ring focus:ring-stone-900 focus:ring-offset-2 focus:outline-none;
    }

    .nav-list {
        @apply text-gray-500 p-1 hover:text-gray-900;
    }

    .nav-list_active {
        @apply font-medium p-1;
    }

    .animate-modal {
        animation-name: blow-up;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .search-input {
        @apply ring-focus w-full border border-b-['#E0Es0E0'] rounded-lg pr-3 pl-8 py-2;
    }
}
