<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Description of the page less than 150 characters" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lista" />
    <meta property="og:description" content="Description Here" />
    <link rel="icon" type="image/png" href="https://example.com/favicon.png" />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    />
    <link rel="stylesheet" href="/src/public/stylesheets/output.css" />
    <script type="module" defer src="/src/public/javascripts/bundle.global.js"></script>
    <title>Lista</title>
</head>
