div(class="flex gap-10") 
	div(class="p-5 rounded-xl w-full  border border-b-['#E0E0E0'] shadow-sm") 
		p(class="mb-2") Sales 
		h3(class="font-bold text-2xl") $40,000.24
		p(class="font-medium text-sm") +20.1% from last month
	div(class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm") 
		p(class="mb-2") Customer 
		h3(class="font-bold text-2xl") 5
		p(class="font-medium text-sm") +10% from last month
	div(class="p-5 rounded-xl w-full border border-b-['#E0E0E0'] shadow-sm") 
		p(class="mb-2") Total Revenue 
		h3(class="font-bold text-2xl") $50,000.00
		p(class="font-medium text-sm") +40.1% from last month