div(class="inline-flex gap-2 bg-gray-100 my-10 p-1 rounded-md") 
	div
		button(type="button" role="tab" class="text-base font-normal dark:font-medium leading-none p-2 rounded-md bg-white shadow-sm")
			span Today
	div
		button(type="button" role="tab" class="text-base font-normal dark:font-medium leading-none p-2 rounded-md text-gray-400")
			span Weekly 
	div 
		button(type="button" role="tab" class="text-base font-normal dark:font-medium leading-none p-2 rounded-md text-gray-400")
			span Monthly