//- TODO LOOP
div(class="h-[448px] w-[515px] rounded-xl border border-b-['#E0E0E0'] shadow-sm p-5")
	h3 Top Customers 
	div(class="mt-8") 
		ul(class="list-disc") 
			li(class="w-full flex items-center justify-between mb-5")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") JL 
					div(class="leading-tight") 
						span(class="block font-medium") Jovan Lanutan
						span(class="block text-gray-500") jolanutan@gmail.com
				button(type="button" class="py-1 px-4") view

			li(class="w-full flex items-center justify-between mb-5")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") OR 
					div(class="leading-tight") 
						span(class="block font-medium") Oscar Round
						span(class="block text-gray-500") oscar@gmail.com
				button(type="button" class="py-1 px-4") view

			li(class="w-full flex items-center justify-between mb-5")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") SU 
					div(class="leading-tight")
						span(class="block font-medium") Shinkaki Uzu
						span(class="block text-gray-500") shinkaki@gmail.com
				button(type="button" class="py-1 px-4") view

			li(class="w-full flex items-center justify-between mb-5")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") LY 
					div(class="leading-tight") 
						span(class="block font-medium") Lei Yu
						span(class="block text-gray-500") leiyu@gmail.com
				button(type="button" class="py-1 px-4") view

			li(class="w-full flex items-center justify-between mb-5")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") WH
					div(class="leading-tight") 
						span(class="block font-medium") Wen Hermes
						span(class="block text-gray-500") wenhermis@gmail.com
				button(type="button" class="py-1 px-4") view

			li(class="w-full flex items-center justify-between mb-0")
				div(class="flex items-center gap-5") 
					div(class="flex items-center justify-center h-9 w-9 rounded-full bg-gray-200") VK
					div(class="leading-tight") 
						span(class="block font-medium") Vendi Korkavi
						span(class="block text-gray-500") vendi@gmail.com
				button(type="button" class="py-1 px-4") view