<!doctype html>
<html lang="en">
    <%- include(template.render_partials+'head_html', { title: meta_data.title, description: meta_data.description, url: meta_data.url }); %>
    <body class="m-h-screen antialised px-4 overflow-auto my-10">
        <div>
            <a href="/" class="h-10 text-sm font-semibold inline-flex items-center justify-center">
                <span>
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.25 8.75L9.75 12L13.25 15.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        </path>
                    </svg>
                </span>
                Home
            </a>
        </div>
        <div></div>
        <script type="module" src="/src/public/javascripts/bundle.js"></script>
    </body>
</html>
