<!doctype html>
<html lang="en">
    <%- include(template.render_partials+'head_html', { title: meta_data.title, description: meta_data.description, url: meta_data.url }); -%>
    <body class="m-h-screen antialised w-full">

        <%- include(template.render_partials+'header_html', { link_to: header.link_to, link_label: header.link_label, is_button: header.is_button }); -%>

        <%- include(template.render_dialogs+'add_credit_html'); -%>
        
        <div id="overlay" class="invisible opacity-0 z-[5] absolute top-0 right-0 left-0 m-0 w-full md:inset-0 h-full max-h-full max-w-screen bg-black/40 transition-opacity ease-in-out duration-300"></div>

        <script type="module" src="/src/public/javascripts/bundle.js"></script>
    </body>
</html>
